In [1]:
import pandas as pd

In [2]:
df = pd.read_csv (r'F:\Schools\SMU\CSV files\titanic.csv')
print (df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']

In [5]:
print(games)

['Dying Light', 'Borderlands', 'Darq', 'Phasmophobia']

In [6]:
games.append("Osiris: New Dawn")
print(games)

['Dying Light', 'Borderlands', 'Darq', 'Phasmophobia', 'Osiris: New Dawn']

In [7]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']
movies = ['aquaman', 'venom', 'the martian']
games.extend(movies)
print(games)

['Dying Light', 'Borderlands', 'Darq', 'Phasmophobia', 'aquaman', 'venom', 'the martian']

In [8]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']

x = games.index("Darq")

print(x)

2

In [9]:
age = [4, 55, 64, 32, 16, 32]

x = age.index(32)
print(x)

3

In [10]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']

games.insert(1, "Split")

print(games)

['Dying Light', 'Split', 'Borderlands', 'Darq', 'Phasmophobia']

In [11]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']
games.remove('Phasmophobia')
print(games)

['Dying Light', 'Borderlands', 'Darq']

In [12]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']
games.pop(1)
print(games)

['Dying Light', 'Darq', 'Phasmophobia']

In [13]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia', 'Darq']
x = games.count("Darq")
print(x)

2

In [14]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']
games.reverse()
print(games)

['Phasmophobia', 'Darq', 'Borderlands', 'Dying Light']

In [15]:
games = ['Dying Light', 'Borderlands', 'Darq','Phasmophobia']
games.sort()
print(games)

['Borderlands', 'Darq', 'Dying Light', 'Phasmophobia']

In [16]:
[6]+[6]+[3]

[6, 6, 3]

In [17]:
['fruit','soda','chips'] * 3

['fruit', 'soda', 'chips', 'fruit', 'soda', 'chips', 'fruit', 'soda', 'chips']

In [18]:
[5,2,'cat',1,3,76][2:]

['cat', 1, 3, 76]

In [19]:
[x for x in [2,3]]

[2, 3]

In [20]:
a = [2,3]
b = []
for x in a:
    b.append(x)

In [21]:
[x for x in [1,2] if x ==1]

[1]

In [22]:
 [y*2 for x in [[1,2],[3,4]] for y in x]

[2, 4, 6, 8]

In [23]:
A = [1]

In [24]:
print(A)

[1]

In [25]:
a = (5, 'cat', 5, 5, 'cat', 5)

In [26]:
print(a.count('cat'))

2

In [27]:
print(a.count(5))

4

In [28]:
a = (5, 'cat', 5, 5, 'cat', 5)

In [29]:
print(a.index('cat'))

1

In [30]:
print(a.index(5))

0

In [31]:

thistuple = ((10,"Harris"), (11, "Stockton"), (20, "Hollingsworth"), (25, "Martin"))
print(thistuple)

((10, 'Harris'), (11, 'Stockton'), (20, 'Hollingsworth'), (25, 'Martin'))

In [32]:
dct = dict((y, x) for x, y in thistuple)
print(dct)

{'Harris': 10, 'Stockton': 11, 'Hollingsworth': 20, 'Martin': 25}

In [33]:
# packing into variable c
c = ("dragon", "unicorn", "basilisk") 
 
# unpacking variable c
(gold, white, green) = c 
 
print(gold)
 
print(white)
 
print(green)

dragon
unicorn
basilisk

In [34]:
a_dict = {'I hate':'you', 'You should':'leave'}

In [35]:
x = a_dict.keys()
print(x)

dict_keys(['I hate', 'You should'])

In [36]:
Myth_Creat = {'dragon':'gold', 'unicorn':'white', 'basilisk':'green'}
    
x = Myth_Creat.items()

print(x)

dict_items([('dragon', 'gold'), ('unicorn', 'white'), ('basilisk', 'green')])

In [37]:
Myth_Creat.values()

dict_values(['gold', 'white', 'green'])

In [38]:
del a_dict['I hate']

In [39]:
x = a_dict.keys()
print(x)

dict_keys(['You should'])

In [40]:
a_dict = {'I hate':'you', 'You should':'leave'}
x = a_dict.keys()
print(x)

dict_keys(['I hate', 'You should'])

In [41]:
a_dict.clear()

In [42]:
x = a_dict.keys()
print(x)

dict_keys([])

## dir():

In [43]:
print(dir(a_dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [44]:
pet_set = {"cat", "dog", "ferret", "bird"}

pet_set.add("fish")

print(pet_set)

{'cat', 'bird', 'fish', 'dog', 'ferret'}

In [45]:
pet_set.clear()

print(pet_set)

set()

In [46]:
pet_set = {"cat", "dog", "ferret", "bird"}
pet_set.copy()

{'bird', 'cat', 'dog', 'ferret'}

In [47]:
pet_set = {"cat", "dog", "ferret", "troll"}
myth = {"dragon", "unicorn", "basilisk", "troll"}

pet_set_noTroll = pet_set.difference(myth)

print(pet_set_noTroll)

{'cat', 'ferret', 'dog'}

In [48]:
myth = {"dragon", "unicorn", "basilisk", "troll"}
myth.discard('basilisk')
print(myth)

{'unicorn', 'troll', 'dragon'}